{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}

{{ range $container := $containers }}

{{ if $container.Env.DEPLOYMENT_KEY }}

from="ssh.{{$container.Env.VIRTUAL_HOST}}", command="docker exec -it {{$container.ID}} bash", {{$container.Env.DEPLOYMENT_KEY}}

{{ end }}

{{ end }}

{{ end }}