{{ range $host, $containers := groupByMulti $ "Env.DEPLOYMENT_KEY" "," }}
	{{ range $container := $containers }}
		{{ if $container.Env.DEPLOYMENT_KEY }}
			command="/app/ssh-proxy.sh {{ $container.Name }}" {{ $container.Env.DEPLOYMENT_KEY }}
		{{ end }}
	{{ end }}
{{ end }}
